.button {
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	padding: 0.8rem;

	color: var(--first-text);
	background-color: var(--second-color);

	font: inherit;
	font-size: 0.8rem;
	text-decoration: none;
	cursor: pointer;
	width: 100%;

	@media (min-width: 768px) {
		font-size: 1.3rem;
	}
	@media (min-width: 992px) {
		font-size: 0.8rem;
	}
}

.button:hover {
	background-color: var(--second-color__hover);
	transition: background-color 0.3s;
}
