.hello {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	padding-top: 20px;
}
.hello__greeting {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;

	width: 100%;

	padding: 20px 0;

	color: var(--first-text);

	@media (min-width: 992px) {
		flex-direction: row;
		gap: 30px;
		padding: 20px 0;
	}
}
.greeting {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.greeting__title {
}
.greeting__title span {
	color: var(--designer-color);
}
.greeting__contacts {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	@media (min-width: 1400px) {
		gap: 100px;
	}
}
.greeting__contacts_item,
.greeting__contacts_content {
	display: flex;
	flex-direction: column;
}
.greeting__contacts_item {
	font-weight: bold;
}
.greeting__contacts_content {
	text-align: end;
}
.greeting__contacts_content a {
	color: var(--first-text);
	text-decoration: none;
}

.greeting__buttons {
	display: flex;
	gap: 10px;
}

.hello__img {
	width: 100%;
	height: 200px;
	background-image: url("/img/hello.jpg");
	background-size: cover;
	background-position: center;

	@media (min-width: 768px) {
		height: 400px;
	}
	@media (min-width: 1400px) {
		height: 500px;
	}
	@media (min-width: 3000px) {
		height: 800px;
	}
}
