.hello {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	padding-top: 20px;
}
.hello__greeting {
	display: flex;
	justify-content: space-between;
	gap: 40px;

	width: 100%;

	padding: 20px 0;

	color: var(--first-text);

	@media (max-width: 1040px) {
		flex-direction: column;

		gap: 30px;

		padding: 20px 0;
	}

	@media (max-width: 450px) {
		gap: 20px;

		background-position: bottom right -60px;
	}
}
.greeting {
	min-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	@media (max-width: 1040px) {
		min-width: none;
		gap: 20px;
	}
}
.greeting__title {
}
.greeting__title span {
	color: var(--designer-color);
}
.greeting__contacts {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1040px) {
		justify-content: start;
		gap: 50px;
	}
}
.greeting__contacts_item,
.greeting__contacts_content {
	display: flex;
	flex-direction: column;
}
.greeting__contacts_item {
	font-weight: bold;
}
.greeting__contacts_content {
	text-align: end;
	@media (max-width: 1040px) {
		text-align: start;
	}
}
.greeting__contacts_content a {
	color: var(--first-text);
}

.greeting__buttons {
	display: flex;
	gap: 10px;
}
.button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;

	border: solid 1px transparent;
	border-radius: none;

	padding: 1em 1.5em;
}

.button__contact_me {
	color: var(--second-text);
	background-color: var(--designer-color);
}
.button__contact_me:hover {
	background-color: var(--designer-color__hover);
	transition: background-color 0.3s;
}

.button__download_cv {
	color: var(--first-text);
	background-color: var(--second-color);
}
.button__download_cv:hover {
	background-color: var(--second-color__hover);
	transition: background-color 0.3s;
}
.hello__img {
	height: 400px;
	width: 100%;

	@media (max-width: 3850px) {
		height: 800px;
	}
	@media (max-width: 2060px) {
		height: 500px;
	}
	@media (max-width: 1040px) {
		height: 100%;
	}
	@media (max-width: 450px) {
		height: 450px;
	}
}
.photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
