.education {
	display: flex;
	flex-direction: column;
	gap: 10px;
	@media (min-width: 992px) {
		flex-direction: row;
		gap: 30px;
	}
}
.education__hello {
	width: 100%;
}
.education__hello p {
	padding-bottom: 10px;
	@media (min-width: 992px) {
		padding-bottom: 25px;
	}
}
.education__title span {
	color: var(--designer-color);
}
.education__items {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-basis: 100%;
	@media (min-width: 768px) {
		gap: 30px;
	}
}

.education__item {
	padding: 0 0 20px 0;
	&:not(:last-child) {
		border-bottom: 1px solid var(--first-color);
	}
}
.education__item p {
	padding-left: 10px;
	border-left: 1px solid var(--designer-color);
}
