:root {
	--designer-color: rgb(82, 131, 255);
	--designer-color__hover: rgb(82, 110, 255);

	--first-color: #ccc;

	--second-color: rgb(240, 240, 240);
	--second-color__hover: rgb(235, 235, 235);

	--third-color: #cccccc;

	--first-text: #444;
	--first-text__hover: #777;

	--second-text: #fff;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: "Montserrat", sans-serif;
	line-height: 1.6;

	font-size: 16px;
	@media (max-width: 740px) {
		font-size: 14px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

.container {
	width: 75vw;
	@media (max-width: 1050px) {
		width: 85vw;
	}
	@media (max-width: 740px) {
		width: 90vw;
	}
}
