:root {
	--designer-color: rgb(82, 131, 255);
	--designer-color__hover: rgb(82, 110, 255);

	--first-color: #cccccc;

	--second-color: rgb(240, 240, 240);
	--second-color__hover: rgb(235, 235, 235);

	--third-color: #ffffff;

	--first-text: #444;
	--first-text__hover: #777;

	--second-text: #ffffff;

	--third-text: #8b8b8b;

	--bg-opacity: #edededb0;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	overflow-x: hidden;

	font-family: "Montserrat", sans-serif;
	line-height: 1.6;

	font-size: 1rem;

	@media (min-width: 576px) {
		font-size: 1rem;
	}
	@media (min-width: 768px) {
		font-size: 1.5rem;
	}
	@media (min-width: 992px) {
		font-size: 1rem;
	}
	@media (min-width: 1200px) {
		font-size: 1rem;
	}
	@media (min-width: 1400px) {
		font-size: 1rem;
	}
	@media (min-width: 2048px) {
		font-size: 1.3rem;
	}
}

/* убираем масштабирование на iphone при нажатии на input */
input,
textarea,
select {
	font-size: 16px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 100%;
	width: 100%;
	position: relative;
}

.container {
	display: flex;
	justify-content: center;
	width: 75vw;
	@media (max-width: 1040px) {
		width: 90vw;
	}
}
.stickyHeader {
	position: sticky;
	top: 0;
	z-index: 10;
}
