:root {
	--designer-color: rgb(82, 131, 255);
	--designer-color__hover: rgb(82, 110, 255);

	--first-color: #cccccc;

	--second-color: rgb(240, 240, 240);
	--second-color__hover: rgb(235, 235, 235);

	--third-color: #ffffff;

	--first-text: #444;
	--first-text__hover: #777;

	--second-text: #ffffff;

	--third-text: #8b8b8b;

	--bg-opacity: #ededede0;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* убираем масштабирование на  iphone при нажатии на input */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
	select:focus,
	textarea:focus,
	input:focus {
		font-size: 1rem;
		padding: 10.5px 20px;
	}
} */

body {
	overflow-x: hidden;

	height: 100%;

	font-family: "Montserrat", sans-serif;
	line-height: 1.6;

	@media (min-width: 2060px) {
		font-size: 3rem;
	}

	@media (max-width: 1040px) {
		font-size: 1.5rem;
	}
	@media (max-width: 450px) {
		font-size: 0.8rem;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 100vh;
	width: 100%;
	position: relative;
}
.container {
	display: flex;
	justify-content: center;
	width: 75vw;
	@media (max-width: 1040px) {
		width: 90vw;
	}
}

.stickyHeader {
	position: sticky;
	top: 0;
}
