.button {
	width: 100%;
	border: none;
	padding: 1em;

	color: var(--second-text);
	background-color: var(--designer-color);

	font: inherit;
	cursor: pointer;
}

.button:hover {
	background-color: var(--designer-color__hover);
	transition: background-color 0.3s;
}
