.button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;

	border: solid 1px transparent;
	border-radius: none;

	padding: 1em 1.5em;

	color: var(--first-text);
	background-color: var(--second-color);
}

.button:hover {
	background-color: var(--second-color__hover);
	transition: background-color 0.3s;
}
