.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid var(--first-color);
	background-color: white;
	box-shadow: 0 6px 20px -20px #333;
}
.logo {
	font-size: 30px;
	font-weight: bold;
}
.logo span {
	color: var(--designer-color);
}
.navigation {
	display: flex;
	gap: 20px;
}
.link {
	text-decoration: none;
	color: var(--first-text);
}
.link:hover {
	color: var(--first-text__hover);
}
